.places {
    height: 100vh;

    &__container {
        height: 100%;
    }

    &-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        background: #fff;
        transform: translateX(-50%) translateY(-50%);

        &--close {
            opacity: 0;
            top: 120%;
        }
    }

    &-sidebar {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: #ffffff55;

        @media screen and (min-width: 960px) {
            width: 300px;
            top: 0;
            right: auto;
            justify-content: space-between;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            max-height: calc(360px);

            @media screen and (min-width: 960px) {
                max-height: none;
                //height: calc(100% - 70px);
                height: 100%;
            }
        }

        &__results {
            direction: rtl;
            overflow-y: auto;
        }

        &__number-places {
            display: none;
            padding: 10px 20px;
            background: #fff;

            @media screen and (min-width: 960px) {
                display: block;
            }
        }
    }

    &-sidebar-item {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin: 0;
        padding: 0 20px;
        background: #fff;
        transition: transform .5s linear;
        opacity: 1;
        transform: initial;
        text-align: left;
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;

        &--inactive {
            opacity: 0;
            transform-origin: left;
            transform: scaleX(0);
        }

        &:hover,
        &--active {
            @media screen and (min-width: 960px) {
                transform: translateX(10px);
            }
        }

        &__name {
            padding-right: 10px;
        }

        &__logo {
            width: 50px;
            max-height: 100%;
            margin: 0;
            border-radius: 50%;
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        min-height: 80px;
        padding: 5px 30px 5px 20px; // Align with menu lines
        background: #fff;

        &__text {
            margin: 0 10px 6px 0;
            font-size: 15px;
        }

        &__logo {
            width: 120px;
            height: 100%;
        }

        &__image {
            height: 100%;
            width: auto;
        }
    }

    &-search-bar {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    &-visually-hidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: 0;

        /** Visually Hidden Focusable
         * Extends `Visually Hidden` to allow the element to be focusable when navigated
         * to via the keyboard.
         */

        &:active,
        &:focus {
            position: static;
            overflow: visible;
            clip: auto;
            margin: 0;
            width: auto;
            height: auto;
        }
    }
}
