.places {
    height: 100vh;

    &__container {
        height: 100%;
    }

    &-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        background: #fff;
        transform: translateX(-50%) translateY(-50%);

        &--close {
            opacity: 0;
            top: 120%;
        }
    }
}

/*
.m-popup {
    position: absolute;
    background: $color-white;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform-origin: top right;
    text-align: center;
    opacity: 1;
    transition: top .4s ease;
    box-shadow: 10px 10px 20px black;

    width: 500px;
    max-width: 80%;
    padding: $spacing-large;
    left: 50%;

    &--close {
        opacity: 0;
        top: 120%;
        transform: translateX(-50%) translateY(10%) rotate(-75deg);
        transition: transform .4s ease, top .6s .3s ease, opacity .1s 1.2s ease;
    }

    &__close {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        position: absolute;
        top: -35px;
        right: -30px;
        background: $color-white;
    }

    &__title {
        margin: 0;
    }
    &__address {
        font-size: 0.9em;
        margin-top: 10px;
    }
    &__contact {
        padding: 10px 0;
        a {
            margin: 0 10px;
        }
    }
}


 */